.profile__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .profile__head {
    gap: 10px;
  }
}
