.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  background-image: url("../../../images/CloseIcon.png");
  background-repeat: no-repeat;
  background-position: 50%;
  min-width: 40px;
  min-height: 40px;
  border: none;
  background-color: unset;
}

@media screen and (max-width: 520px) {
  .popup__close {
    top: -50px;
    right: 0;
    min-width: 26px;
    min-height: 26px;
  }
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
