.profile__add-button {
  text-align: right;
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    width: 100%;
    max-height: 50px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
