.elements {
  margin: 50px auto 0;
  text-align: center;
  max-width: 880px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px 17px;
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: 1fr 1fr;
  }
}
