.element__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  max-width: 282px;
  max-height: 282px;
}

@media screen and (max-width: 768px) {
  .element__image {
    max-width: none;
    max-height: none;
  }
}
