.profile__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .profile__info {
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    gap: 14px;
  }
}
