.element__delete-button {
  background-image: url("../../../images/TrashButton.svg");
  background-repeat: no-repeat;
  background-size: 18px 19.3px;
  background-position: 50%;
  background-color: transparent;
  min-width: 18px;
  border: none;
  padding: 0;
  min-height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.element__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
