.footer {
  max-width: 880px;
  margin: 68px auto 0;
  padding: 0 50px 60px;
  text-align: left;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 50px;
    padding: 0 19px 36px;
  }
}
