.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  max-height: 14px;
  margin-top: 30px;
  width: 100%;
  padding: 0;
  padding-bottom: 13px;
}

.popup__input::placeholder {
  color: #c4c4c4;
}
